<tr>
	<td>{c2r-id}</td>
	<td>{c2r-title}</td>
	<td>{c2r-value}</td>

	<td title="date-update: {c2r-date-update}" class="sm-tacenter">{c2r-date}</td>
	<td class="sm-taright">
		<a class="btn btn-edit" href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/settings-edit/{c2r-id}">
			<i class="fa fa-pencil" aria-hidden="true"></i>
			<span class="xs-block15 sm-block15"></span>
			Edit
		</a>
		<span class="xs-block15 sm-block15"></span>
		<a class="btn btn-cancel" href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/settings-del/{c2r-id}">
			<i class="fa fa-trash" aria-hidden="true"></i>

		</a>
	</td>
</tr>
