<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 filter">
	<div class="img-container spacer all-150">
		<img src="" class="d-none">
		<div class="select-layer">
			<img src="{c2r-step4-check}" class="filter-check">
		</div>
	</div>
	<div class="shadow"></div>
</div>
