/*!
 * jQuery Slot Machine v3.0.1
 * https:// github.com/josex2r/jQuery-SlotMachine
 *
 * Copyright 2014 Jose Luis Represa
 * Released under the MIT license
 */
.slotMachineNoTransition {
    -webkit-transition: none !important;
            transition: none !important;
}

.slotMachineBlurFast {
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

.slotMachineBlurMedium {
    -webkit-filter: blur(3px);
            filter: blur(3px);
}

.slotMachineBlurSlow {
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.slotMachineBlurTurtle {
    -webkit-filter: blur(1px);
            filter: blur(1px);
}
/*
.slotMachineGradient {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(25%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)) );
    -webkit-mask: url("data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask");
            mask: url("data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask");
}
*

/* ------------- */


.gift {
	cursor: none;
	background-position: center;
	background-size: cover;
	min-height: 100vh;

	color: #ffffff;
}

.gift .app-logo {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.machines_container {}

#machine_1,
#machine_2,
#machine_3 {
	background-color: #ffffff;
	overflow: hidden;
	text-align: left;
	display: inline-block;
}

#machine_1 img,
#machine_2 img,
#machine_3 img {
	width: 100%;
	height: 594px;
}

#machine_2 img {
	width: 100%;
	height: 852px;
}

#machine_1,
#machine_3 {
	margin-top: 129px;
	width: 297px;
	height: 594px;
}

#machine_2 {
	width: 426px;
	height: 852px;
	margin-left: 15px;
	margin-right: 15px;
}

#machine-1,
#machine-2,
#machine-3 {
	background-color: #ffffff;
	height: 425px;
	overflow: hidden;
	text-align: left;
}

#machine-2 {
	height: 1020px;
}

.message, .no-stock {
	display: none;
}

.horizontal {}


.horizontal	#machine_1,
.horizontal	#machine_2,
.horizontal	#machine_3 {
	margin-top: 129px;
	width: calc(33.33333333% - 30px);
	height: 594px;
	border: 15px solid #bb47eb;
	border-radius: 25px;
}

.horizontal	#machine_1 img,
.horizontal	#machine_2 img,
.horizontal	#machine_3 img {
	width: 100%;
	height: 594px;
}

.panel-1 h1, .panel-2 h1, .panel-3 h1 {
	font-weight: 900;
	font-size: 4rem;
}
