.gif {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
}

.gif .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.gif .app-logo img {
	width: 121px;
}

.gif .live-cam {
	width: 1080px;
	height: 810px;
}

.gif .live-cam .sight {
	width: 1080px;
	height: 810px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;

	font-size: 255px;
	font-weight: 800;
	font-style: italic;
	-webkit-text-stroke: 7px #4b189b;

	line-height: 810px;
}

.gif .live-cam {
	background-color: rgba(0,0,0,0.35);
	line-height: 0;
}

.gif .live-cam video {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.gif .bnp-btn {
	background-image: url(../images/gif/camera-shot-btn.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
}

.gif .bnp-btn span {
	color: #fff;
}

.gif .camera-shot-btn {
	width: 180px;
	height: 180px;
}

.gif .wait-btn {
	width: 150px;
	height: 150px;
}

.gif .repeat-btn {
	width: 90px;
	height: 90px;
}

.gif .next-btn {
	width: 180px;
	height: 180px;
}

.gif button.camera-shot-btn span {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.step-1 {}

.step-2 {
	display: none;
}

.step-3 {
	display: none;
}

.step-3-5 {
	display: none;
}

.step-4 {
	display: none;
	margin-top: -150px;
}

.step-4 .filter .img-container {
	position: relative;
	z-index: 10;
	border: solid 5px #ffffff;
	background-size: cover;
	background-position: center;
}

.step-4 .filter .img-container .select-layer {
	position: absolute;
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	background-color: rgb(0, 0, 0);
	opacity: 0.6;
}

.step-4 .filter .img-container .select-layer .filter-check {
	margin-top: 10px;
	display: none;
}

.step-4 .filter.active .img-container .select-layer {
	background-color: rgba(255, 255, 255, 0.6);
	border: solid 15px #4b189b;
	opacity: 1;
}



.step-4 .filter.active .img-container .select-layer .filter-check {
	display: initial;
}

.step-4 .filter.active .img-container {}

.step-4 .shadow {
	display: relative;
	z-index: 5;
	margin: auto;
	width: 85%;
	height: 17px;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	background-color: #000000;
}

.overlayList > .filter > .img-container > img {
	max-height: 140px;
}
