.logo {
	margin-top: 60px;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.backMenu {
	margin-top: 146px;
	text-align: center;
	position: absolute;
	width: 360px;
	right: 0;
	z-index: 9999;
}

.memory {
	background-position: bottom;
	background-size: 125%;
	min-height: 100vh;
	color: #FFF;
	overflow: hidden;
}

.memory .step-1 {}

.memory .step-1 h1 {
	font-size: 62px;
	font-weight: 700;
}

.memory .step-2 {
	display: none;
}

.memory .end-game,
.memory .final-points {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1300;
}

.memory .flex-center {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 125px;
	font-weight: 800;
	z-index: 1300;
	font-style: italic;
	-webkit-text-stroke: 4px #8847E6;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}

.memory #startGame {
	background-image: url(../images/bnp-memory/bg_touch.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	width: 270px;
	height: 270px;
	outline: 0;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}

.memory .boxShake {
	height: 270px;
}

.memory .points {
	font-size: 68px;
	font-weight: 800;
	font-style: italic;
	line-height: 1.4;
}

.memory .countDown {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	z-index: 1030;
	background-color: rgba(0,0,0,0.3);
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}

.memory .countDown div {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin:auto;
	font-size: 255px;
	font-weight: 800;
	font-style: italic;
	-webkit-text-stroke: 7px #8847E6;
	color: #fff;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	z-index: 1030;
}

.memory .gameTable {
	overflow: hidden;
}
.memory .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
