@media only screen and (max-width: 768px) {
	.prize .step-container {
		min-height: 400px;
	}

	.prize .step-1 {
		height: 400px;
	}

	.prize .prize-btn {
		width: 250px;
		margin-top: calc((400px - 250px) / 2);
	}

	.prize .step-2 {
		height: 400px;
	}

	.prize .step-2 img {
		height: 400px;
		top: 0;
	}

	.prize .app-logo img {
		width: 60px;
	}
}
