.bike {
	background-position: bottom;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
	overflow: hidden;
}

.bike .animator {
	height: 38vh;
	margin-top: 33vh;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.bike .animator .loader {
	position: absolute;
	bottom: 45px;
	width: 352px;
	height: 0;
	margin-left: calc(((1080px - 30px) / 2) - (352px / 2));
	background-repeat: no-repeat;
	background-position: bottom;
}

.bike .message h1 {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

.bike .battery-footer {
	width: 37px;
	height: 74px;
	position: absolute;
	bottom: 48px;
	left: 71px;
	background-position: center;
	background-size: contain;
	/* visibility: hidden; */
}

.bike .cicle {
	position: absolute;
	left: 125px;
	bottom: 40px;
	font-size: 4rem;
	color: black;
	font-weight: bold;
}

.bike .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
    right: 15px;
    z-index: 1031;
}

.vertical-video {
    position: absolute;
    z-index: 1030;
    top: 0;
    left: 0;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
}

.vertical-video video {
    object-fit: cover;
    object-position: 75%;
}