@media only screen and (max-width: 768px) {

	.ranking .result .row {
		padding-top: 0;
		padding-bottom: 0;
	}

	.ranking .result .row h3 {
		font-size: 1rem;
	}

	.ranking .position-text {
		font-size: 1.5rem;
	}

	.ranking .app-logo img {
		width: 60px;
	}
}
