.bike {
	background-position: bottom;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
	overflow: hidden;
}

.countDown {
	display: none;
}

.bike .countDown {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	z-index: 1030;
	background-color: rgba(0,0,0,0.3);
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}

.bike .countDown div {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin:auto;
	font-size: 255px;
	font-weight: 800;
	font-style: italic;
	-webkit-text-stroke: 7px #8847E6;
	color: #fff;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	z-index: 1030;
}

.bike .points {
	font-size: 68px;
	font-weight: 800;
	font-style: italic;
	line-height: 1.4;
}

.bike .#step-3,
.bike #step-4 {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1300;
	text-align: center;
}

#step-1 {

}

#step-2, #step-3, #step-4 {
	display: none;
}


.bike .flex-center {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 125px;
	font-weight: 800;
	z-index: 1300;
	font-style: italic;
	-webkit-text-stroke: 4px #8847E6;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}

.bike #startGame {
	background-image: url(../images/bnp-memory/bg_touch.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	width: 270px;
	height: 270px;
	outline: 0;
	animation: blinker 1.5s linear infinite;
}

.bike .animator {
	height: 38vh;
	margin-top: 10vh;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.bike .animator .loader {
	position: absolute;
	bottom: 45px;
	width: 352px;
	height: 0;
	margin-left: calc(((1080px - 30px) / 2) - (352px / 2));
	background-repeat: no-repeat;
	background-position: bottom;
}

.bike .message h1 {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
}

.bike .battery-footer {
	width: 37px;
	height: 74px;
	position: absolute;
	bottom: 48px;
	left: 71px;
	background-position: center;
	background-size: contain;
	/* visibility: hidden; */
}

.bike .cicle {
	position: absolute;
	left: 125px;
	bottom: 40px;
	font-size: 4rem;
	color: black;
	font-weight: bold;
}

.bike .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
