@media only screen and (max-width: 768px) {
	header.bnp .bgHeaderGame {
		width: auto;
		background-size: contain;
	}

	header.bnp .bgHeaderGame {
		height: 200px;
	}

	header.bnp .clock-area {
		width: 450px;
		bottom: 30px;
		left: 85px;
	}

	header.bnp .clockBarMain {
		width: calc(100% - 115px);
		height: 60px;
		left: 85px;
	}

	header.bnp .points-area {
		right: 85px;
		bottom: 30px;
	}

	.quiz h1 {
		font-size: 40px;
	}

	.quiz .textAnswers {
		padding: 0;
		font-size: 35px;
		line-height: 55px;
	}

	.quiz .eof-game {
		font-size: 80px;
	}

	.quiz .app-logo img {
		width: 60px;
	}
}
