.logo {
	margin-top:60px; text-align:center; position:absolute; width:100%; z-index:9999;
}
.backMenu {
	margin-top:146px; text-align:center; position:absolute; width:360px; right:0; z-index:9999;
}

.quiz  {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
}

.quiz .step-1 {}

.quiz .step-2 {
	display: none;
	position: absolute;
	z-index: 1030;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.quiz .countDown {
	font-size: 255px;
	font-weight: 800;
	font-style: italic;
	-webkit-text-stroke: 7px #6E3AC9;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: 0;
	background-color: rgba(0,0,0,0.3);
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}

.quiz .step-3 {
	display: none;
}

.quiz .step-4 {
	display: none;
	position: absolute;
	z-index: 1030;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.quiz .eof-game {
	font-size: 150px;
	font-weight: 900;
	font-style: italic;
	-webkit-text-stroke: 4px #6E3AC9;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: 0;
	background-color: rgba(0,0,0,0.3);
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}

.quiz .step-5 {
	display: none;
}

.quiz .step-5 h1 {
	font-size: 100px;
	font-weight: 800;
	color: #fff;
}

.quiz .step-5 .your-points {
	font-size: 150px;
	font-weight: 900;
	font-style: italic;
	-webkit-text-stroke: 4px #6E3AC9;
	color: #fff;
	display: block;
}

.quiz .start-btn {
	background-image: url(../images/bnp-quiz/bg_touch.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	width: 270px;
	height: 270px;
	outline: 0;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}

.quiz .boxShake {
	height: 270px;
}

.quiz .points {
	height: 95px;
	font-size: 68px;
	font-weight: 800;
	font-style: italic;
	line-height: 1.4;
}

.quiz .carousel-inner>.item.active {

}

.quiz h1 {
	font-size: 52px;
}

.quiz h2 {
	font-size: 34px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.quiz .bgNumberQuestion {
	background-image: url(../images/bnp-quiz/fill-1.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.quiz .bgAnswers {
	background-image: url(../images/bnp-quiz/bg-button.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.quiz .textAnswers {
	font-size: 34px;
	padding: 40px;
	line-height: 35px;
}

.quiz .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}
