body {
	background-image: url(../images/home-demo/bg.png);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.home-demo {}

.home-demo .dark {}

.home-demo .dark h2 {
	color: #fffbb3;
}

.home-demo .dark .logo {
	position: relative;
	z-index: 10;
	width: 175px;
	margin-bottom: -75px;
}

.home-demo .dark .screen {
	border-radius: 30px;
	border: solid 5px #fff;
	overflow: hidden;
}

.home-demo .dark .screen .img {
	height: 400px;
	overflow: hidden;

	background-position: center;
	background-size: 100% auto;
	filter: brightness(50%);

	-webkit-transition: all 750ms ease 0s;
	transition: all 750ms ease 0s;

}

.home-demo .dark .screen .img.active {
	background-size: 110% auto;
	filter: brightness(100%);
}

.home-demo .dark .button {
	position: relative;
	z-index: 10;
	margin-top: -60px;
}

.home-demo .light {}
.home-demo .light h2 {
	color: #3a25a0;
}
