.signup {
	color: #000;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.signup .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.signup .app-logo img {
	width: 121px;
}

.signup div.overInput {
	position: absolute;
	width: 100%;
	height: 70px;
	z-index:1;
}

.signup .carousel-inner .item {
	min-height: 500px;
}

.signup .bnp-btn {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	outline: 0;
}

.signup h2 {
	color: #ababad;
	-webkit-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}

.signup h3 {
	font-weight: normal;
}

.signup h4 {
	color: #fff;
}

.signup input {
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	height: 60px;
	color: #fff;
	box-shadow: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ababad;
	border-radius: 0;
	-webkit-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}

.signup .error-message {
	opacity: 0;

	-webkit-transition: all 200ms ease 0s;
	transition: all 200ms ease 0s;
}

.signup .focusRow h2 {
	color: #fff;
}

.signup .focusRow input {
	border-color: #fff;
}

.signup .invalid.focusRow {
	color: red;
}

.signup .invalid.focusRow h2 {
	color: red;
}

.signup .invalid.focusRow input {
	border-color: red;
	color: red;
}

.signup .invalid.focusRow .error-message {
	opacity: 1;
}

.signup input:focus {
	-webkit-box-shadow: none;
	box-shadow:none;
}

.signup input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: 1; /* Firefox */
}

.signup input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #fff;
}

.signup input::-ms-input-placeholder { /* Microsoft Edge */
	color: #fff;
}

.modal-dialog {
	margin-top: 40%;
}

.modal-dialog .btn-primary {
	background-color: #333;
	border-color: #333;
}
