.tapgame {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	height: 1920px;
	overflow: hidden;
	color: #FFF;
}

.tapgame .step-1 {}

.tapgame .step-2 {
	display: none;
}

.tapgame .legendHome {
	font-weight: 800;
	font-size: 20px;
}

.tapgame .fallingItem {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	will-change: top;
}

.tapgame #startGame {
	/*background-image: url(../images/bnp-memory/bg_touch.png); */
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	width: 270px;
	height: 270px;
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}

.tapgame .boxShake {
	height: 270px;
}

.tapgame .points,
.points-area .points {
	height: 95px;
	font-size: 68px;
	font-weight: 800;
	font-style: italic;
	line-height: 1.4;
}

.tapgame .countDown {
	font-size: 255px;
	font-weight: 800;
	font-style: italic;
	-webkit-text-stroke: 7px #4b189b;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 1920px;
	z-index: 10;
	color: #fff;
}

.tapgame .gameTable {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.tapgame .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.tapgame .play-text {
	font-weight: 700;
}

.tapgame .end-game,
.tapgame .final-points {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1300;
}

.tapgame .flex-center {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	font-size: 125px;
	font-weight: 800;
	z-index: 1300;
	font-style: italic;
	-webkit-text-stroke: 4px #8847E6;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
}
