html {
	max-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.thanks {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
}

.thanks h1{
	font-size: 70px;
}

.thanks .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.thanks .app-logo img {
	width: 121px;
}

.thanks .thanksImg {
	animation: spin 2s ease-out infinite;
	/*animation-direction: alternate; */
}

@-moz-keyframes spin {
	0% {
		-moz-transform:rotate(0deg);
	}
	25% {
		-moz-transform:rotate(40deg);
	}
	50% {
		-moz-transform:rotate(0deg);
	}
	75% {
		-moz-transform:rotate(-40deg);
	}
	100% {
		-moz-transform:rotate(0deg);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(40deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
	}
	75% {
		-webkit-transform: rotate(-40deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform:rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(40deg);
		transform:rotate(40deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
		transform:rotate(0deg);
	}
	75% {
		-webkit-transform: rotate(-40deg);
		transform:rotate(-40deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform:rotate(0deg);
	}
}
