.ranking {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
}

.ranking h4 {
	font-weight: 700;
}

.ranking .th {
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 15px;
}

.ranking .result .row {
	padding-top: 15px;
	padding-bottom: 15px;
}

.ranking .result:nth-child(2n) .row {
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
}

.ranking .result.of-top-10 .row {
	border-radius: 5px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
}

.ranking .result .row h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ranking .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.ranking .app-logo img {
	width: 121px;
}

.ranking .position-text {
	font-weight: 700;
}
