.prize {
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	color: #FFF;
}

.prize .prize-btn {
	background-color: transparent;
	border: none;
	outline: 0;
}

.prize .step-container {
	min-height: 600px;
}

.prize .step-1 {
	height: 600px;
}

.prize .step-1-1 {}

.prize .step-2 {
	display: none;
	height: 600px;
	position: relative;
	overflow: hidden;
}

/*.prize .step-2 img {
	display: none;
	height: 600px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
} */

.prize .step-2 img {
	display: none;
	height: 1100px;
	position: absolute;
	top: -35%;
	left: 50%;
	transform: translate(-50%, 0);
}

.prize .step-2-1 {
	display: none;
}

.prize .step-2-2 {
	display: none;
}

.prize .app-logo {
	display: inline-block;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

.prize .app-logo img {
	width: 121px;
}

.prize .prizeImg {
	animation-direction: alternate;
	animation: shake 1.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
