body {
	display: none;
}

.screensaver {
	line-height: 0;
}

.screensaver video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
}

.screensaver .hover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.001);
}

.screensaver #videos-slide {}

.screensaver #videos-slide .carousel-item {
	height: 100vh;
	width: 100vw;
}
