body {
	font-family: 'Roboto', sans-serif;
	background-image: url(../images/demo/bg.png);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

header .client-logo img {
	width: 100%;
}

.demo h2 {
	color: #3a25a0;
}
