body {
	display: none;
}

.photo {
	height: 100vh;
}

.overlays-list, .controls {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1032;
}

.overlays-list > .container > .row {
	height: 100vh;
}

.overlays-list > .container > .row > .col {
	margin-top: auto;
	margin-bottom: auto;
	padding: 15px;
}

.overlays-list > .container > .row > .col img {}

.controls {
	display: none;
}

.text {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1031;
}

.text .row {
	height: 100vh;
}

.text .row .col {
	margin-top: auto;
	margin-bottom: auto;
}

.text .row .col h1 {
	font-size: 200px;
	color: #fff;
	font-weight: bolder;
}

.overlay {
	position: fixed;
	z-index: 998;
	left: 0;
}

.overlay img {
	width: 1080px;
}

.flash {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1500;
	display: none;
}

#canvasElement {
	display: none;
}

#videoElement {
	transform: rotate(-90deg) translate(-100%, 0%);
	transform-origin: top left;
	width: 1920px;
	height: 1080px;
}

#video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2;
}

#output {
	width: 1080px;
	height: 1080px;
	position: absolute;
	top: 0;
	bottom:0 ;
    left: 0;
    right: 0;
    margin: auto;
	z-index: 1030;
}
#buffer {
	display: none;
}

.step-1, .step-2 {
	position: fixed;
	z-index: 2000;
	bottom: 10%;
	width: 100%;
}

.step-2 {
	display: none;
}

.photo .bnp-btn {
	border: none;
	padding: 0;
	background-color: transparent;
}

.photo .counter h1 { color: white; display: inline-block; }
.photo .counter h3 { color: white; display: inline-block; }


.work-area {
	position: fixed;
	top: 0;
	width: 1080px;
	height: 1920px;
}

.work-area > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 1080px;
	height: 1920px;
}

.layer {
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.layer.top {
	top: 0;
}

.layer.bottom {
	bottom: 0;
}
