header {
	color: #FFF;
	text-transform: uppercase;
	font-weight: 800;
	position: relative;
	z-index: 100;
}

header.bnp .client-logo {
	height: 250px;
}

header.bnp .client-logo img {
	max-height: 250px;
	margin-left: auto;
	margin-right: auto;
}

header.bnp .clock {
	z-index: 5;
	position: relative;
}

header.bnp .clock-bg {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}

header.bnp .bgHeaderGame {
	background-position: center;
	background-size: unset;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
	width: 905px;
	margin: auto;
}

header.bnp .clockBarMain {
	width: calc(100% - 185px);
	height: 90px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 135px;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 1;
}

header.bnp .clockBar {
	background: #fff;
	width: 100%;
	position: absolute;
	z-index: 1;
	height: 100%;
	top: 0;
	left: 0;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
}

header.bnp .counter {
	position: absolute;
	right: 30px;
	top: -5px;
	z-index: 10;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
}

header.bnp .time {
	position: absolute;
	right: 0; left: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: -15px;
	z-index: 10;
	font-weight: 700;
}

header.bnp .clock-area {
	position: absolute;
	z-index: 1;
	width: 700px;
	height: 110px;
	bottom: 100px;
	left: 0;
	right: 0;
	margin-left: -5px;
	margin-right: auto;
}

header.bnp .avatar-area {
	position: absolute;
	z-index: 1;
	width: 100px;
	bottom: 110px;
	left: 45px;
}

header.bnp .avatar-area .img-shadow {
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
	border-radius: 50%;
}

header.bnp .avatar-area .img {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	margin-bottom: 5px;
	background-position: center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

header.bnp .avatar-area .username {
	text-align: center;
}

header.bnp .points-area {
	position: absolute;
	z-index: 1;
	right: 45px;
	bottom: 100px;
}
