@import "header.css";
@import "header.mbl.css";
@import "footer.css";
@import "footer.mbl.css";
@import "font.css";

body {
	overflow: hidden;
	display: none;
}

.b-active {display: block;}

* {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}
