body {
	background-image: url(../images/bnp-prize/bg.png);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.form-signin {
	max-width: 420px;
	padding: 30px 38px 66px;
	margin: 0 auto;
	background-color: #eee;
	border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
	text-align:center;
	margin-bottom: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

.colorgraph {
	height: 7px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.btn-primary {
	color: #fff;
	background-color: #8547eb;
	border-color: #b081f3;
}

.user-dashboard {
	background-color: #ffffff;
	border-top: 1px solid #ac7df2;
	min-height: 100vh;
}

.user-dashboard .mdl {
	border: 1px solid rgba(0, 0, 0, 0.02);
	background-color: #ab7cf2;
	padding: 15px;
	border-radius: 4px;
	color: #ffffff;
}

.user-dashboard .mdl p,
.user-dashboard .mdl h1,
.user-dashboard .mdl h2,
.user-dashboard .mdl h3,
.user-dashboard .mdl h5,
.user-dashboard .mdl h6,
.user-dashboard .mdl a {
	margin: 0;
	padding: 0;
}

.user-dashboard .mdl a {
	color: #ffffff;
}

.user-dashboard .mdl .icon {
	text-align: center;
	width: 106px;
	height: 106px;
	border: 3px solid rgba(255, 255, 255, 0.3);
	background-color: #ab7cf2;
	padding: 15px;
	border-radius: 50%;
	margin: -65px auto auto;
}

.user-dashboard .mdl .tip {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.user-dashboard .mdl .mdl-footer {
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: -15px;
}
