<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit ut velit eu dignissim. Vestibulum et magna eu diam lacinia consectetur sit amet eu dolor. Proin aliquet mollis purus, quis pharetra augue malesuada id. Sed rutrum dui mauris, sit amet consectetur dui vehicula sit amet. Pellentesque lacinia faucibus leo non ornare. Curabitur ultricies, tortor quis ullamcorper vehicula, lectus est interdum arcu, nec venenatis arcu ipsum nec libero. Nulla eleifend mattis nisi, at molestie quam tempus vitae. Fusce ipsum velit, posuere vitae ipsum eu, feugiat egestas est. Etiam eu interdum tellus, ac eleifend arcu. Mauris fermentum justo a ultricies tempus. Phasellus bibendum enim lorem, a dignissim nulla egestas quis. Nulla facilisi. Donec pharetra purus massa, sit amet consectetur felis posuere vitae. Nulla ultricies mattis leo, et fermentum metus feugiat eget.</p>

        <p>Aliquam urna erat, molestie suscipit magna vel, placerat convallis nibh. Aliquam tristique aliquam turpis, ac aliquam mi pellentesque in. Suspendisse velit eros, maximus at bibendum a, scelerisque sed quam. Curabitur bibendum eget neque in vestibulum. Curabitur viverra leo non neque blandit, eu vestibulum eros consectetur. In a interdum diam. Mauris lobortis sapien at arcu congue condimentum. Nulla dignissim libero in enim condimentum finibus. In lectus nulla, fringilla id tempus et, euismod in lacus. Aenean fermentum eros elit, ut varius tortor eleifend nec. Phasellus ac tellus sodales, cursus dui sagittis, feugiat tellus. Vestibulum vehicula venenatis turpis, non tincidunt eros consequat nec. Praesent sit amet mi in sapien rutrum pulvinar a ac quam. Proin condimentum euismod purus ac dapibus.</p>
    </div>
</div>
<div class="spacer all-30"></div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <form method="post">
            <div class="form-group tacenter">
                <label>{c2r-lg-install}</label>
            </div>
            <div class="form-group tacenter">
                <button type="submit" class="btn btn-success" name="submitInstall">{c2r-lg-yes}</button>
                <a href="{c2r-path-bo}/{c2r-lg}/home/" type="button" class="btn btn-danger">{c2r-lg-no}</a>
            </div>
        </form>
    </div>
</div>
