<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<form action="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/settings-edit/{c2r-id}" method="post">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="form-group">
						<label for="input-name">{c2r-title}</label>
						<input type="text" class="form-control" id="input-name" name="input-name" value="{c2r-post-name}" required>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="form-group">
						<label for="input-value">{c2r-value}</label>
						<input type="text" class="form-control" id="input-value" name="input-value" value="{c2r-post-value}" required>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="taright">
					<button type="submit" class="btn btn-success" name="save">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

<link rel="stylesheet" href="{c2r-module-path}/site-assets/css/style.css">
