<tr>
	<td>{c2r-id}</td>
	<td>{c2r-title}</td>
	<td class="sm-tacenter"><i class="fa {c2r-code}" aria-hidden="true"></i></td>
	<td title="{c2r-date-updated-label} : {c2r-date-updated}">{c2r-date-created}</td>
</tr>
