<div class="spacer all-30"></div>
<div class="row d-flex justify-content-end">
	<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 taright">
		<div class="spacer all-15"></div>
		<a href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/fields-add/" class="btn btn-success btn-add" role="button">
			<i class="fas fa-plus" aria-hidden="true"></i><span class="block all-15"></span>{c2r-add-field}
		</a>
	</div>
</div>
<div class="spacer all-30"></div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="line-header d-none d-xl-flex row">
			<div class="col-sm-9">
				<div class="row">
					<div class="block col-sm-1 tacenter">
						<strong>#</strong>
					</div>
					<div class="block col-sm-3">
						<strong>{c2r-name}</strong>
					</div>
					<div class="block col-sm-3">
						<strong>{c2r-value}</strong>
					</div>
					<div class="block col-sm-1 tacenter">
						<strong>{c2r-required}</strong>
					</div>
					<div class="block col-sm-1 tacenter">
						<strong>{c2r-sort}</strong>
					</div>
					<div class="block col-sm-1 tacenter">
						<strong>{c2r-status}</strong>
					</div>
					<div class="block col-sm-2 tacenter">
						<strong>{c2r-date}</strong>
					</div>
				</div>
			</div>
			<div class="block col-sm-3 tacenter">
				<strong>Actions</strong>
			</div>
		</div>
		{c2r-list}
	</div>
</div>
<div class="spacer all-30"></div>
<div class="row d-flex justify-content-end">
	<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 taright">
		<div class="spacer all-15"></div>
		<a href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/fields-add/" class="btn btn-success btn-add" role="button">
			<i class="fas fa-plus" aria-hidden="true"></i><span class="block all-15"></span>{c2r-add-field}
		</a>
	</div>
</div>
