<div class="spacer all-30"></div>
<div class="row">
	<div class="col-12 col-sm-12 col-lg-4 tacenter">
		<div class="avatar-placeholder b-{c2r-rank} tacenter">
			<img src="http://www.gravatar.com/avatar/{c2r-md5-email}?s=150&r=g&d=mm" class="rounded-circle" alt="gravatar" title="I'm the {c2r-rank} and this is my Gravatar!">
		</div>
		<div class="spacer all-60"></div>
		<div class="username">
			<h4><strong>{c2r-username}</strong></h4>
		</div>
		<div class="spacer all-30"></div>
		<div class="email">
			<h4><strong>{c2r-email}</strong></h4>
		</div>
		<div class="spacer all-30"></div>
	</div>
	<div class="col-12 col-sm-12 col-lg-8">
		<div class="row">
			{c2r-object}
		</div>
	</div>
</div>
