<!DOCTYPE html>
<html>
	<head>
		{c2r-head}
		<link rel="stylesheet" href="{c2r-mod-path}/site-assets/css/style.css" media="screen" title="no title" charset="utf-8">
		<script type="text/javascript" src="{c2r-mod-path}/site-assets/js/script.js"></script>
	</head>
	<body class="logout">
		<div class="wrapper"></div>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-12 col-sm-8 col-md-6 col-lg-4 message tacenter">
					<div class="spacer all-60"></div>
					<p align="center"><img src="{c2r-path-bo}/site-assets/images/logo-bo3.png" alt="logotipo" width="77%" /></p>
					<div class="spacer all-60"></div>
					{c2r-message}
					<div class="spacer all-60"></div>
				</div>
			</div>
		</div>
		<div class="spacer all-120"></div>
	</body>
</html>
