<div class="row">
	<div id="{c2r-name-canonical}" class="overInput"></div>
	<!--
	<div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1">
		<h2>{c2r-label}</h2>
	</div>
	-->
	<div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 col-xl-10 offset-xl-1">
		<input type="{c2r-type}" class="form-control need-keyboard tacenter" placeholder="{c2r-label}" name="{c2r-name-canonical}" value="{c2r-value}"  spellcheck="false" id="input_{c2r-name-canonical}">
	</div>
</div>
<div class="spacer xs-15 sm-30 md-30 lg-90"></div>
