<div class="row">
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
		<label class="radio-inline noPaddLeft"><img src="http://via.placeholder.com/350x200"><input type="radio" name="layoutSight" value="layout1.png" checked></label>
		<div class="spacer all-15"></div>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
		<label class="radio-inline noPaddLeft"><img src="http://via.placeholder.com/350x200"><input type="radio" name="layoutSight" value="layout-xpto.tpl" checked></label>
		<div class="spacer all-15"></div>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
		<label class="radio-inline noPaddLeft"><img src="http://via.placeholder.com/350x200"><input type="radio" name="layoutSight" value="layout3.png" checked></label>
		<div class="spacer all-15"></div>
	</div>
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 spacer all-15"></div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
		<label class="radio-inline noPaddLeft"><img src="http://via.placeholder.com/350x200"><input type="radio" name="layoutSight" value="layout4.png" checked></label>
		<div class="spacer all-15"></div>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
		<label class="radio-inline noPaddLeft"><img src="http://via.placeholder.com/350x200"><input type="radio" name="layoutSight" value="layout5.png" checked></label>
		<div class="spacer all-15"></div>
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
		<label class="radio-inline noPaddLeft"><img src="http://via.placeholder.com/350x200"><input type="radio" name="layoutSight" value="layout6.png" checked></label>
		<div class="spacer all-15"></div>
	</div>
</div>
