<form class="sm-tacenter" action="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/delete/{c2r-id}" method="post">
	<p>{c2r-phrase}</p>

	<button type="submit" name="submit" class="btn btn-cancel">
		<i class="fa fa-eraser" aria-hidden="true"></i><span class="sm-block15 xs-block15"></span>{c2r-del}
	</button>
	<span class="xs-block15 sm-block15"></span>
	<a href="{c2r-path-bo}/{c2r-lg}/0-bnpquiz/" class="btn btn-edit" role="button">
		<i class="fa fa-pencil" aria-hidden="true"></i><span class="sm-block15 xs-block15"></span>{c2r-cancel}
	</a>
</form>
