<!DOCTYPE html>
<html lang="{c2r-lg}">
	<head>
		{c2r-head}
	</head>
	<body>
		<!-- { c2r-header } -->
			<!-- here write the HTML code -->
			<div class="home">

		</div>
		<!-- { c2r-footer } -->
	</body>
</html>
