@media (min-width: 320px) {
	.block.all-120,	.block.all-15, .block.all-150, .block.all-30, .block.all-60, .block.all-90 {display: inline-block}
	.spacer.all-150 {height: 150px}
	.spacer.all-120 {height: 120px}
	.spacer.all-90 {height: 90px}
	.spacer.all-60 {height: 60px}
	.spacer.all-30 {height: 30px}
	.spacer.all-15 {height: 15px}
	.block.all-150 {width: 150px}
	.block.all-120 {width: 120px}
	.block.all-90 {width: 90px}
	.block.all-60 {width: 60px}
	.block.all-30 {width: 30px}
	.block.all-15 {width: 15px}
	.taleft {text-align: left}
	.tacenter {text-align: center}
	.taright {text-align: right}
	.tajustify {text-align: justify}
}

@media (min-width: 577px) {
	.block.sm-120, .block.sm-15, .block.sm-150, .block.sm-30, .block.sm-60, .block.sm-90 {display: inline-block}
	.spacer.sm-150 {height: 150px}
	.spacer.sm-120 {height: 120px}
	.spacer.sm-90 {height: 90px}
	.spacer.sm-60 {height: 60px}
	.spacer.sm-30 {height: 30px}
	.spacer.sm-15 {height: 15px}
	.block.sm-150 {width: 150px}
	.block.sm-120 {width: 120px}
	.block.sm-90 {width: 90px}
	.block.sm-60 {width: 60px}
	.block.sm-30 {width: 30px}
	.block.sm-15 {width: 15px}
	.sm-taleft {text-align: left}
	.sm-tacenter {text-align: center}
	.sm-taright {text-align: right}
	.sm-tajustify {text-align: justify}
}

@media (min-width: 768px) {
	.block.md-120, .block.md-15, .block.md-150, .block.md-30, .block.md-60, .block.md-90 {display: inline-block}
	.spacer.md-150 {height: 150px}
	.spacer.md-120 {height: 120px}
	.spacer.md-90 {height: 90px}
	.spacer.md-60 {height: 60px}
	.spacer.md-30 {height: 30px}
	.spacer.md-15 {height: 15px}
	.block.md-150 {width: 150px}
	.block.md-120 {width: 120px}
	.block.md-90 {width: 90px}
	.block.md-60 {width: 60px}
	.block.md-30 {width: 30px}
	.block.md-15 {width: 15px}
	.md-taleft {text-align: left}
	.md-tacenter {text-align: center}
	.md-taright {text-align: right}
	.md-tajustify {text-align: justify}
}

@media (min-width: 992px) {
	.block.lg-120, .block.lg-15, .block.lg-150, .block.lg-30, .block.lg-60, .block.lg-90 {display: inline-block}
	.spacer.lg-150 {height: 150px}
	.spacer.lg-120 {height: 120px}
	.spacer.lg-90 {height: 90px}
	.spacer.lg-60 {height: 60px}
	.spacer.lg-30 {height: 30px}
	.spacer.lg-15 {height: 15px}
	.block.lg-150 {width: 150px}
	.block.lg-120 {width: 120px}
	.block.lg-90 {width: 90px}
	.block.lg-60 {width: 60px}
	.block.lg-30 {width: 30px}
	.block.lg-15 {width: 15px}
	.lg-taleft {text-align: left}
	.lg-tacenter {text-align: center}
	.lg-taright {text-align: right}
	.lg-tajustify {text-align: justify}
}

@media (min-width: 1200px) {
	.block.xl-120, .block.xl-15, .block.xl-150, .block.xl-30, .block.xl-60, .block.xl-90 {display: inline-block}
	.spacer.xl-150 {height: 150px}
	.spacer.xl-120 {height: 120px}
	.spacer.xl-90 {height: 90px}
	.spacer.xl-60 {height: 60px}
	.spacer.xl-30 {height: 30px}
	.spacer.xl-15 {height: 15px}
	.block.xl-150 {width: 150px}
	.block.xl-120 {width: 120px}
	.block.xl-90 {width: 90px}
	.block.xl-60 {width: 60px}
	.block.xl-30 {width: 30px}
	.block.xl-15 {width: 15px}
	.xl-taleft {text-align: left}
	.xl-tacenter {text-align: center}
	.xl-taright {text-align: right}
	.xl-tajustify {text-align: justify}
}

@media (max-width: 576px) {
	.block.xs-120, .block.xs-15, .block.xs-150, .block.xs-30, .block.xs-60, .block.xs-90 {display: inline-block}
	.spacer.xs-150 {height: 150px}
	.spacer.xs-120 {height: 120px}
	.spacer.xs-90 {height: 90px}
	.spacer.xs-60 {height: 60px}
	.spacer.xs-30 {height: 30px}
	.spacer.xs-15 {height: 15px}
	.block.xs-150 {width: 150px}
	.block.xs-120 {width: 120px}
	.block.xs-90 {width: 90px}
	.block.xs-60 {width: 60px}
	.block.xs-30 {width: 30px}
	.block.xs-15 {width: 15px}
	.xs-taleft {text-align: left}
	.xs-tacenter {text-align: center}
	.xs-taright {text-align: right}
	.xs-tajustify {text-align: justify}
}

img {
	max-width: 100%;
}

body {
	background-color: #FFF;
	font-size: 16px;
	color: #676767;
	overflow: hidden;
}

a {
	color: #37c871;
}

a:hover, a:focus {
	color: #00ccff;
	text-decoration: none;
}

label {
	margin-bottom: 0px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 -1px 0 transparent;
	outline: 0;
}

.form-control {
	height: calc(2.25rem + 8px);
}

.bg-owner {
	background-color: #37c871;
	color: #fff;
	border-color: #37c871;
}

.bg-manager {
	background-color: blue;
	color: #fff;
	border-color: blue;
}

.bg-member {
	background-color: #4e4e4e;
	color: #fff;
	border-color: #4e4e4e;
}

.b-owner img:not(.card-img-top), .b-owner:not(.avatar-placeholder) {
	border: 5px solid #37c871;
}


.b-manager img:not(.card-img-top), .b-manager:not(.avatar-placeholder) {
	border: 5px solid blue;
}

.b-member img:not(.card-img-top), .b-member:not(.avatar-placeholder) {
	border: 5px solid #4e4e4e;
}

#menu-user.dropdown-toggle::after {
	display: none;
}

#menu-user.dropdown-toggle > img {
	width: 25px;
	vertical-align: bottom;
}

.top-bar {
	padding-top: 0;
	padding-bottom: 0;
}

.top-bar-animation {
	height: 3px;
	background: linear-gradient(270deg, #00ccff, #1dcab5, #37c871);
	background-size: 600% 600%;
	-webkit-animation: topbarcoloranimation 10s ease infinite;
	-moz-animation: topbarcoloranimation 10s ease infinite;
	box-shadow: 1px 0 20px 2px rgba(0, 0, 0, 0.08);
}

.sidebar {
	display: inline-block;
	width: 270px;
	height: calc(100vh - 46px);
	box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
	overflow-y: auto;
	transition: all ease-in-out 300ms;
	position: relative;
}

.sidebar .list-group-item {
	border: none;
	padding: 12px 24px;
	color: inherit;
	position: relative;
}

.sidebar .sub-list .list-group-item {
	background-color: rgba(0,0,0,0.03);
	border-radius: 0;
	border: none !important;
}

.sidebar .nav-label {
	margin-left: 15px;
	transition: all ease-in-out 300ms;
}

.sidebar.collapsed {
	width: 80px;
}

.sidebar.collapsed .list-group-item {
	padding: 10px 30px;
}

.sidebar.collapsed .nav-label {
	display: none;
}

.sidebar-toggle {
	background-color: transparent;
	box-shadow: none;
	outline: 0;
	color: #4e4e4e;
	border: 0;
	width: 100%;
	font-size: 20px;
	margin: 10px 0px;
	position: relative;
	background-color: #fff;

}

.sidebar-toggle:focus {
	outline: 0;
}

.sidebar-toggle.toggled .fa-minus {
	display: none;
}

.sidebar-toggle.toggled .fa-plus {
	display: block;
}

.sidebar-toggle .fa-minus {
	display: block;
}

.sidebar-toggle .fa-plus {
	display: none;
}

.sub-list {
	position: relative;
}


.core-container {
	display: inline-block;
	width: calc(100% - 270px);
	vertical-align: top;
	height: calc(100vh - 175px);
	transition: all ease-in-out 300ms;
}

.core-container.unleashed {
	width: calc(100% - 80px);
}

.core-body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 0 15px;
	position: relative;
}

.authors-bar {
	height: 50px;
	position: fixed;
	bottom:0;
	right: 0;
	width: calc(100% - 270px);
	box-shadow: 10px 0 20px rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px;
	background-color: #fff;
}


.core-header {
	border-bottom: 1px solid rgba(0,0,0,0.08);
}

.core-header h3 {
	margin-top: .5rem;
}

.core-header nav {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.core-header .breadcrumb {
	background-color: inherit;
	margin-bottom: 0;
	padding: 0.9rem 1rem;
}

.core-header .breadcrumb li:first-child {
	margin-left: auto;
}

.ads {
	border: none;
	width: 738px;
	height: 130px;
	margin: 5px auto 0;
	display: block;
}

.input-view-file {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-addon {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


/*.cardboard {
	position: relative;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.cardboard .card-id {
	position: relative;
	-ms-flex: 0 0 40%;
	flex: 0 0 40%;
	max-width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	background-color: #585858;
}

.cardboard .card-id h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 0;
}

.cardboard .card-content {
	position: relative;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	max-width: 60%;
	padding: 5px;
	height: 120px;
	display: inline-block;
}

.cardboard .card-action {
	position: relative;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	height: 50px;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-btn-edit {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #37c871;
	color: #fff;
	display:
} */

.line-header {
	background-color: #4e4e4e;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	align-items: center;
	border: 1px solid #4e4e4e;
	border-radius: .25rem;
	margin-bottom: 5px;
}

.line-header .block {
	padding: 10px 15px;
}

.line {
	border: 2px solid #4e4e4e;
	border-radius: .25rem;
	min-height: 50px;
	margin-bottom: 10px;
}

.line .box {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	min-height: 50px;
}

.line .box p, .line .box h1 {
	margin-bottom: 0;
}

.line .box.id {
	background-color: #4e4e4e;
	color: #fff;
	font-weight: 700;
	justify-content: center;
}

.line .box.category-section,
.line .box.parent-nr,
.line .box.published,
.line .box.date {
	align-items: center;
	justify-content: center;
}

.action-list {
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.action-list .btn-edit, .action-list .btn-del, .action-list .btn-view {
	height: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	font-weight: 700;
}

.action-list .btn-edit {
	background-color: #00C7AA;
	color: #fff;
}

.action-list .btn-del {
	background-color: #b70707;
	color: #fff;
}

.action-list .btn-view {
	background-color: #ffe01c;
	color: #000;
}

.btn-published {
	background-color: #28a745;
	color: #fff;
	transition: all ease-in-out 300ms;
	-webkit-transition: all ease-in-out 300ms;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-bottom: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4e4e4e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4e4e4e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.disabled {
	pointer-events: none;
}

#bnp-search {
	border-top-left-radius: 0.25rem !important;
	border-bottom-left-radius: 0.25rem !important;
}

.bnp-search-submit {
	border-top-right-radius: 0.25rem !important;
	border-bottom-right-radius: 0.25rem !important;
}

.form-group {
	margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
	.line .box {
		border-bottom: 2px solid #4e4e4e;
	}
}
