<tr>
	<td>{c2r-id}</td>
	<td title="{c2r-lg-from}: {c2r-from} {c2r-lg-cc}: {c2r-cc} {c2r-lg-bcc}: {c2r-bcc}">{c2r-to}</td>
	<td>{c2r-subject}</td>
	<td>{c2r-attachments}</td>
	<td title="{c2r-lg-date-updated} : {c2r-date-updated}">{c2r-date}</td>
	<td class="sm-tacenter"><i class="fa {c2r-status}" aria-hidden="true"></i></td>
	<td class="sm-taright">
		<a href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/view/{c2r-id}" class="btn btn-edit {c2r-hide-but}" role="button">
			<i class="fa fa-eye" aria-hidden="true"></i>
			<div class="sm-block15 xs-block15"></div>
			{c2r-lg-btn-view}
		</a>
	</td>
</tr>
