<div class="row">
	<div class="col-xs-12 col-sm-12">
		<form class="sm-tacenter" action="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/deleteConnect/{c2r-id}" method="post">
			<p>{c2r-phrase}</p>
			<button type="submit" name="input-submit" class="btn btn-cancel">
				<i class="fa fa-eraser" aria-hidden="true"></i>
				<span class="sm-block15 xs-block15"></span>
				{c2r-lg-del}
			</button>
			<span class="xs-block15 sm-block15"></span>
			<a href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/connect/" class="btn btn-edit" role="button">
				<i class="fa fa-pencil" aria-hidden="true"></i>
				<span class="sm-block15 xs-block15"></span>
				{c2r-lg-cancel}
			</a>
		</form>
	</div>
</div>
