<div class="row">
	<div class="col-sm-12 sm-taright">
		<a href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/edit/" class="btn btn-add" role="button">
			<i class="fa fa-plus" aria-hidden="true"></i>
			<span class="sm-block15 xs-block15"></span>
			{c2r-lg-btn-add}
		</a>
		<div class="sm-block15"></div>
		<a href="{c2r-path-bo}/{c2r-lg}/{c2r-module-folder}/settings/" class="btn btn-add" role="button">
			<i class="fa fa-cog" aria-hidden="true"></i>
			<span class="sm-block15 xs-block15"></span>
			{c2r-lg-btn-settings}
		</a>
	</div>
</div>
<div class="sm-spacer15"></div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>To</th>
					<th>Subject</th>
					<th>Attachments</th>
					<th>Date</th>
					<th>Sent?</th>
					<th class="sm-taright"></th>
				</tr>
			</thead>
			<tbody>
				{c2r-list}
			</tbody>
		</table>
	</div>
</div>
