<div class="col-3 filter">
	<div class="img-container spacer all-150">
		<img src="{c2r-img}" class="hidden">
		<div class="select-layer">
			<img src="{c2r-step4-check}" class="filter-check">
		</div>
	</div>
	<div class="shadow"></div>
</div>
